.title
  You can manage your contacts easily with this application.
.description
  %p
    This is an application which you can import your contacts with a xml file.
  %p
    If you have an account on facebook, linkedin or google, you can sign up easily.