%h2
  Contact List

=messages_for
%p
  ="Hi #{current_user.user_name}, here is the your contact list"
%table.contact-table
  %thead
    %tr
      %th Name
      %th Last Name
      %th Phone
      %th Email
      %th Last Update
      %th Operation
  %tbody
    -@contacts.each do |contact|
      %tr{class: cycle("odd", "even")}
        %td
          =contact.name
        %td
          =contact.last_name
        %td{width: "160px"}
          =contact.phone
        %td{width: "160px"}
          =contact.email
        %td.center{width: "160px"}
          =l(contact.updated_at, format: :long)
        %td.center{width: "100px"}
          =link_to "Edit", edit_contact_path(contact.id)
          |
          =link_to "Delete", contact_path(contact.id, page: params[:page]), method: :delete, data: { confirm: "Are you sure you want to do that?" }

=paginate(@contacts)
